.button {
  display: block;
  padding: 15px 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $charcoal-color;

  background-color: #ffffff;
  border: 2px solid $charcoal-color;
  text-transform: uppercase;
}

.button--modal {
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;

  background-color: $downy-color;
  border: none;
}
