.button {
  display: block;
  padding: 14px 20px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: $charcoal-color;

  background-color: #ffffff;
  border: 2px solid $charcoal-color;
  text-transform: uppercase;
}

.button--modal {
  width: 100%;
  padding: 16px 20px 20px 20px;

  font-size: 17px;
  line-height: 16px;
  color: #ffffff;

  background-color: $downy-color;
  border: none;
}

.button:hover {
  color: #ffffff;

  background-color: $charcoal-color;
  opacity: 1;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  opacity: 1;
}
