.catalog {
  margin: 0 auto 26px auto;
  padding: 0;

  line-height: 24px;
  font-weight: 700;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px 0;

  border: solid 1px #ececec;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__shortcut {
  display: block;
  margin: 0;
}

.catalog__img {
  display: block;
  margin: 0;
}

.catalog__wrapper {
  position: relative;
  padding: 23px 27px 26px 27px;
  flex-grow: 1;

  &::after {
    content: "";

    position: absolute;
    bottom: 75px;
    left: 22px;
    width: 202px;
    height: 1px;

    background-color: #ececec;
  }
}

.catalog__headline {
  width: 197px;
  margin: 0 0 5px 0;
}

.catalog__headline-link {
  font-size: 17px;
}

.catalog__description {
  width: 197px;
  margin: 0 0 41px 0;

  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: $charcoal-color;
}

.catalog__price {
  width: 197px;
  margin: 0;

  font-size: 15px;
}

@media (min-width: $tablet-width) and (max-width: 1149px) {
  .catalog {
    width: 669px;
    margin-bottom: 53px;
  }

  .catalog__item {
    flex-direction: row;
    margin-bottom: 52px;
  }

  .catalog__shortcut {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .catalog__img {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: 0;
    width: 277px;
    padding: 26px 28px 27px 28px;

    &::after {
      width: 274px;
    }
  }

  .catalog__headline {
    width: auto;
    margin: 0 0 3px 0;

    font-size: 17px;
  }

  .catalog__headline-link {
    font-size: 20px;
  }

  .catalog__description {
    width: auto;
    margin: 0;

    font-size: 15px;
  }

  .catalog__price {
    width: auto;
    margin-top: auto;

    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .catalog__item {
    margin: 0 48px 57px 0;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 57px;
    }
  }

  .catalog__shortcut {
    margin: 0;
  }

  .catalog__img {
    // для сетки
    width: 316px;
    height: 462px;
    //
  }

  .catalog__wrapper {
    display: flex;
    flex-direction: column;
    padding: 23px 26px 25px 26px;

    &::after {
      width: 270px;
    }
  }

  .catalog__headline {
    width: 228px;
    margin: 0 0 6px 0;
  }

  .catalog__headline-link {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__description {
    margin: 0 0 35px 0;
    width: 228px;

    font-size: 15px;
  }

  .catalog__price {
    margin: 0;
    margin-top: auto;

    font-size: 17px;
  }
}
