.catalog {
  margin: 0;
  padding: 0;

  line-height: 24px;
  font-weight: 700;

  list-style: none;
}

.catalog__description {
  font-size: 13px;
  line-height: 30px;
  font-weight: 500;
  color: $charcoal;
}

.catalog__price {
  font-size: 15px;
}
