.contacts {
  margin-bottom: 39px;

  font-size: 15px;
  line-height: 30px;
  color: $charcoal-color;
}

.contacts__headline {
  margin: 0 0 24px 0;

  font-size: 18px;
  font-weight: 700;
}

.contacts__list {
  margin-bottom: 32px;
}

.contacts__email {
  display: flex;
  margin-bottom: 27px;
}

.contacts__addres {
  display: flex;
}

.contacts__field {
  display: block;
  width: 48px;
  margin-right: 30px;

  text-transform: lowercase;
}

.contacts__addres-value {
  width: 160px;
}

.contacts__map {
  margin-bottom: 39px;
}

.contacts__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;

    font-size: 17px;
  }

  .contacts__headline {
    margin-bottom: 46px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__list {
    margin-bottom: 52px;
  }

  .contacts__list-body {
    display: flex;
  }

  .contacts__email {
    display: flex;
    align-content: flex-start;
    width: 280px;
    margin: 0;
    margin-right: 51px;
  }

  .contacts__addres {
    display: flex;
    align-content: flex-start;
  }

  .contacts__field {
    width: 51px;
    margin-right: 22px;
  }

  .contacts__addres-value {
    width: 220px;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__feedback {
    width: 146px;
    margin: 0 auto;
    padding: 14px 40px;

    font-size: 17px;
    text-align: left;
  }

  .contacts__image {
    width: 768px;
    height: 457px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 175px;
  }

  .contacts__headline {
    width: 300px;
    margin: 0 0 45px 0;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    margin: 0 0 76px 0;
  }

  .contacts__list-body {
    display: block;
  }

  .contacts__email {
    width: 300px;
    margin: 0 0 27px 0;
  }

  .contacts__addres {
    width: 300px;
  }

  .contacts__map {
    position: absolute;
    top: -72px;
    margin-left: 50%;
  }

  .contacts__feedback {
    margin: 0 0 0 175px;
  }

  .contacts__image {
    width: 525px;
    height: 457px;
  }
}
