.contacts {
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;
}

.contacts__headline {
  font-size: 18px;
  font-weight: 700;
}

.contacts__feedback {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

  text-transform: uppercase;
}
