.features {
  margin: 0 0 60px 0;
}

.features__headline {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  margin: 86px 0 0 0;

  line-height: 20px;
  font-weight: 700;
}
