.features {
  margin-bottom: 52px;
}

.features__headline {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.features__wrapper {
  margin: 0;
  padding: 0;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__list--left {
  width: 185px;
}

.features__list--right {
  width: 235px;
}

.features__item {
  position: relative;
  padding: 84px 0 0 0;

  line-height: 20px;
  font-weight: 700;

  &::before {
    content: "";

    position: absolute;
    width: 55px;
    height: 37px;

    background-repeat: no-repeat;
  }
}

.features__item--flower {
  &::before {
    top: 31px;
    left: 8px;

    background-image: url("../img/icon-feature-flower.svg");
  }
}

.features__item--greenback {
  &::before {
    top: 31px;
    left: 0px;

    background-image: url("../img/icon-feature-money.svg");
  }
}

.features__item--heart {
  &::before {
    top: 35px;
    left: 8px;

    background-image: url("../img/icon-feature-heart.svg");
  }
}

.features__item--roll {
  &::before {
    top: 31px;
    left: 4px;

    background-image: url("../img/icon-feature-ball.svg");
  }
}

.features__item--rocket {
  &::before {
    top: 31px;
    left: -6px;

    background-image: url("../img/icon-feature-rocket.svg");
  }
}

.features__item--present {
  &::before {
    top: 27px;
    left: 3px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 83px;
  }

  .features__headline {
    margin-bottom: 42px;

    font-size: 43px;
    line-height: 50px;
  }

  .features__wrapper {
    display: flex;
  }

  .features__list--left {
    width: 235px;
    margin-right: 99px;
  }

  .features__list--right {
    width: 280px;
  }

  .features__item {
    padding-top: 60px;
    margin-bottom: 51px;

    font-size: 20px;
    line-height: 22px;

    &:last-child {
      margin: 0;
    }
  }

  .features__item--flower {
    &::before {
      top: 6px;
      left: 9px;
    }
  }

  .features__item--greenback {
    &::before {
      top: 7px;
      left: 1px;
    }
  }

  .features__item--heart {
    &::before {
      top: 12px;
      left: 9px;
    }
  }

  .features__item--roll {
    &::before {
      top: 8px;
      left: 3px;
    }
  }

  .features__item--rocket {
    &::before {
      top: 10px;
      left: -6px;
    }
  }

  .features__item--present {
    &::before {
      top: 7px;
      left: 3px;
    }
  }
}


@media (min-width: $desktop-width) {
  .features {
    box-sizing: border-box;
    margin-bottom: 90px;
    padding-left: 175px;
  }

  .features__headline {
    margin: 0 0 37px 0;

    font-size: 53px;
    line-height: 57px;
  }

  .features__list--left {
    margin-right: 114px;
  }
}
