.features__headline {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  line-height: 20px;
  font-weight: 700;
}
