.feedback__headline {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.feedback__text {
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;
}

.feedback__name {
  line-height: 24px;
  font-weight: 700;
}

.feedback__nickname {
  line-height: 30px;
  color: $charcoal;
}
