.main-nav {
  position: relative;
}

.main-nav__logo {
  display: block;
  margin: 0 -30px;
  padding: 20px 0;

  text-align: center;

  box-shadow: 0 1px 0 0 #ececec;
}

.main-nav__mobile-wrapper {
  display: none;
}

.main-nav__link-list {
  margin: 0 -30px;
  padding: 0;

  list-style: none;
}

.main-nav__form-list {
  margin: 0 -30px;
  padding: 0;

  list-style: none;
}

.main-nav__desktop-list {
  display: none;
}

.main-nav__button {
  position: absolute;
  top: -80px;
  right: 20px;
}

.main-nav__item {
  box-shadow: 0 1px 0 0 #ececec;
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 29px 0;

  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.main-nav__link--search {
  position: relative;
}

.main-nav__link--search:focus,
.main-nav__link--search:hover,
.main-nav__link--cart:focus,
.main-nav__link--cart:hover {
  opacity: 1;
}

.main-nav__link--search svg {
  position: absolute;
  top: 32px;
  transform: translateX(-28px);

  opacity: 0.2;
}
.main-nav__link--search:focus svg,
.main-nav__link--search:hover svg,
.main-nav__link--cart:focus svg,
.main-nav__link--cart:hover svg {
  fill: $downy-color;
  opacity: 1;
}

.main-nav__link--search:active,
.main-nav__link--cart:active {
  fill: $downy-color;
  opacity: 0.3;
}

.main-nav__link--cart {
  position: relative;
}

.main-nav__link--cart svg {
  position: absolute;
  top: 32px;
  transform: translateX(-28px);

  opacity: 0.2;
}

.main-nav__tip {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .main-nav__logo {
    position: absolute;
    top: 22px;
    left: 0;
    z-index: 10;
    margin: 0;
    padding: 0;

    box-shadow: none;
  }

  .main-nav__logo-image {
    width: 112px;
    height: 46px;
  }

  .main-nav__mobile-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    box-shadow: none;
    margin: 0 37px 0 0;
    padding: 0;

    text-align: start;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__form-list {
    display: flex;
    order: -1;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 322px;
  }

  .main-nav__link {
    width: auto;
    padding: 0;
  }

  .main-nav__item--cart {
    margin: 0;
  }

  .main-nav__link--cart {
    margin: 0;
    padding: 32px 0 32px 80px;
  }

  .main-nav__link--cart svg {
    top: 34px;
    left: 31px;

    transform: translateX(0);
  }

  .main-nav__item--search {
    margin: 0;
  }

  .main-nav__link--search {
    display: block;
    width: 82px;
    height: 88px;
    margin: 0;
    padding: 0;

    box-shadow:
      1px 0 0 0 #ececec,
      -1px 0 0 0 #ececec;
  }

  .main-nav__link--search svg {
    top: 37px;
    left: 60px;
  }

  .main-nav__hint {
    display: none;
  }

  .main-nav__link-list {
    display: flex;
    width: 321px;
    margin: 19px 0 0 0;

    font-size: 15px;
  }

  .main-nav__tip {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0;

    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    top: 9px;
    left: 449px;
    z-index: 10;
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }

  .main-nav__link-list {
    order: -1;
    width: 380px;
    margin: 0 321px 0 0;
  }

  .main-nav__form-list {
    width: 348px;
    order: 0;
    padding: 0;
  }

  .main-nav__item {
    margin: 0;

    font-size: 17px;
  }

  .main-nav__link--left {
    padding: 32px 45px 32px 0;

    box-shadow: 1px 0 0 0 #ececec;
  }

  .main-nav__link--right {
    padding: 32px 0 33px 35px;
  }

  .main-nav__desktop-list {
    display: flex;
    width: 618px;
    margin: 18px 201px 0 0;
    padding: 0;

    list-style: none;
  }

  .main-nav__desktop-item {
    margin-right: 68px;
  }

  .main-nav__desktop-link {
    font-size: 15px;
  }

  .main-nav__tip {
    position: static;
    margin: 18px 0 0 0;
  }
}
