.main-nav {
  position: relative;
}


.main-nav__logo {
  display: block;
  margin: 0 -30px;
  padding: 22px 0;

  text-align: center;

  box-shadow: 0 1px 0 0 #ececec;
}

.main-nav__link-list {
  margin: 0 -30px;
  padding: 0;

  list-style: none;
}

.main-nav__form-list {
  margin: 0 -30px;
  padding: 0;

  list-style: none;
}

.main-nav__desktop-list {
  display: none;
}

.main-nav__button {
  position: absolute;
  top: -80px;
  right: 20px;
}

.main-nav__item {
  box-shadow: 0 1px 0 0 #ececec;
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 29px 0;

  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.main-nav__link--search {
  position: relative;
}

.main-nav__link--search svg {
  position: absolute;
  top: 32px;
  transform: translateX(-28px);

  opacity: 0.2;
}

.main-nav__link--cart {
  position: relative;
}

.main-nav__link--cart svg {
  position: absolute;
  top: 32px;
  transform: translateX(-28px);

  opacity: 0.2;
}

.main-nav__tip {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .main-nav__logo {
    position: absolute;
    top: 22px;
    left: 52px;
    z-index: 10;
    margin: 0;
    padding: 0;

    box-shadow: none;
  }

  .main-nav__item {
    box-shadow: none;
    margin: 25px 37px 0 0;
    padding: 0;

    text-align: start;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__form-list {
    display: flex;
    order: -1;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-left: 320px;
  }

  .main-nav__link {
    width: auto;
    padding: 0;
  }

  .main-nav__item--cart {
    margin: 0;
  }

  .main-nav__link--cart {
    margin: 0;
    padding: 36px 0 28px 96px;
  }

  .main-nav__link--cart svg {
    top: 37px;
    left: 58px;

    transform: translateX(0);
  }

  .main-nav__item--search {
    margin: 0;
  }

  .main-nav__link--search {
    display: block;
    width: 82px;
    height: 88px;
    margin: 0;
    padding: 0;

    box-shadow:
      1px 0 0 0 #ececec,
      -1px 0 0 0 #ececec;
  }

  .main-nav__link--search svg {
    top: 36px;
    left: 58px;
  }

  .main-nav__hint {
    display: none;
  }

  .main-nav__link-list {
    display: flex;
    width: 321px;
    margin: 0;
    margin-right: 93px;
  }

  .main-nav__tip {
    display: block;
    margin: 26px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    // для сетки
    width: 149px;
    height: 72px;
    //
    position: static;
    z-index: 0;
    margin: 9px 122px 0 0;
  }

  .main-nav__link-list {
    order: -1;
    width: 354px;
    margin-right: 75px;
  }

  .main-nav__form-list {
    width: 348px;
    order: 0;
    padding: 0;
  }

  .main-nav__item {
    margin: 0;
  }

  .main-nav__link--left {
    padding: 36px 35px 30px 0;

    box-shadow: 1px 0 0 0 #ececec;
  }

  .main-nav__link--right {
    padding: 36px 0 30px 35px;
  }

  .main-nav__desktop-list {
    display: flex;
    width: 618px;
    margin: 24px 178px 0 0;
    padding: 0;

    list-style: none;
  }

  .main-nav__desktop-item {
    margin-right: 41px;
  }
}
