.modal {
  line-height: 30px;
  font-weight: 700;
  color: $charcoal;
}

.modal__headline {
  font-size: 25px;
  color: #000000;

  text-transform: uppercase;
}

.modal__text {
  font-size: 15px;
  font-weight: 500;
}

.modal__list {
  margin: 0;
  padding: 0;

  line-height: 16px;

  list-style: none;
}

.modal__submit {
  line-height: 16px;
  color: #ffffff;

  background-color: $downy;
  border: none;
  text-transform: uppercase;
}
