.page-header {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;

    background-image: linear-gradient(to bottom, #ffffff 88px, #ececec 88px, #ececec 89px, #f9f9f9 89px,);
  }
}
