.site-headline {
  margin: 0 auto 31px auto;
  padding: 72px 0 74px 0;

  background-color: #fafafa;
}

.site-headline--main {
  margin: 0;
  padding: 72px 0 122px 0;

  background-image: url("../../img/hero-mobile@1x.jpg");
  background-position: 50% -20px;
  background-repeat: no-repeat;
}

.site-headline--form {
  margin-bottom: 24px;
}

.site-headline__content {
  width: 300px;
  margin: 0 auto;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.site-headline__text-block {
  display: block;
}

@media (min-width: $tablet-width) {
  .site-headline {
    width: auto;
    margin-bottom: 80px;
    padding: 54px 0 78px 0;
  }

  .site-headline__content {
    width: auto;

    font-size: 43px;
    line-height: 50px;
  }

  .site-headline--main {
    margin: 0;
    padding: 112px 0 490px 0;

    background-image: url("../../img/hero-tablet@1x.jpg");
    background-position: 50% -43px;
  }

  .site-headline--form {
    margin-bottom: 74px;
    padding: 52px 0 79px 0;
  }

  .site-headline__content--main {
    width: 500px;
  }


  .site-headline__text-block {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .site-headline {
    margin-bottom: 128px;
    padding: 54px 0 101px 0;
  }

  .site-headline__content {
    font-size: 53px;
    line-height: 57px;
  }

  .site-headline--main {
    margin: 0;
    padding: 113px 0 508px 0;

    background-image: url("../../img/hero-desktop@1x.jpg");
    background-position: 50% -43px;
  }

  .site-headline__content--main {
    width: 620px;
  }

  .site-headline--form {
    margin-bottom: 125px;
    padding: 53px 0 98px 0;
  }
}
