.sub-nav {
  margin: 0 0 27px 0;
  padding: 0;

  list-style: none;
}

.sub-nav__link {
  display: block;
  width: 112px;
  padding: 25px 180px 30px 29px;

  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.sub-nav__item {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    width: 60px;
    height: 62px;

    opacity: 0.5;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.sub-nav__item--interior {
  background-color: $downy-color;

  &::before {
    top: 21px;
    right: 17px;

    background-image: url("../img/icon-interior.svg");
  }
}

.sub-nav__item--toy {
  background-color: #56c3b2;

  &::before {
    top: 21px;
    right: 26px;

    background-image: url("../img/icon-toy.svg");
  }
}

@media (min-width: $tablet-width) {
  .sub-nav {
    position: relative;
    display: flex;
    width: 668px;
    margin: -116px auto 38px auto;
  }

  .sub-nav__item:hover,
  .sub-nav__item:focus {
    transform: translateY(-5px);

    &::before {
      opacity: 0.7;
    }
  }

  .sub-nav__item:active {
    transform: translateY(-5px);

    &::before {
      opacity: 0.3;
    }
  }

  .sub-nav__item--interior {
    &::before {
      top: 28px;
    }
  }

  .sub-nav__item--interior:hover,
  .sub-nav__item--interior:focus,
  .sub-nav__item--interior:active {
    background-color: #59d5bc;
  }

  .sub-nav__item--toy {
    &::before {
      top: 31px;
      right: 34px;
    }
  }

  .sub-nav__item--toy:hover,
  .sub-nav__item--toy:focus,
  .sub-nav__item--toy:active {
    background-color: #46c1ae;
  }

  .sub-nav__link {
    box-sizing: border-box;
    width: 334px;
    padding: 29px 187px 36px 36px;

    font-size: 20px;
    line-height: 30px;

    &:focus {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .sub-nav {
    width: 1050px;
    margin-top: -128px;
    margin-bottom: 122px;
  }

  .sub-nav__link {
    width: 525px;
    padding: 28px 377px 34px 37px;
  }
}
