.video {
  margin-bottom: 58px;
}

.video__wrapper {
  padding: 30px 30px;

  line-height: 24px;
  font-weight: 700;
  color: $charcoal-color;

  border: solid 1px #ececec;
}

.video__headline {
  margin: 0 0 26px 0;

  color: #000000;
}

.video__image-wrapper {
  margin: 0 0 34px 0;
}

.video__description {
  margin: 0 34px 29px 34px;

  font-size: 13px;
  font-weight: 500;
}

.video__buy {
  margin: 0 34px;

  line-height: 16px;
}
