.video {
  width: 260px;
  margin: 0 auto 58px auto;
}

.video__wrapper {
  padding: 30px 0;

  line-height: 24px;
  font-weight: 700;
  color: $charcoal-color;

  border: solid 1px #ececec;
}

.video__headline {
  margin: 0 43px 26px 91px;

  font-size: 17px;
  color: #000000;
}

.video__image-wrapper {
  margin: 0 0 34px 0;
}

.video__description {
  margin: 0 34px 29px 34px;

  font-size: 13px;
  font-weight: 500;
}

.video__buy {
  margin: 0 34px;

  font-size: 17px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .video {
    width: 668px;
    margin-bottom: 63px;
  }

  .video__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-bottom: 46px;
  }

  .video__image-wrapper {
    order: -1;
    // для сетки
    width: 668px;
    height: 465px;
    //
    margin-bottom: 43px;

    background-color: bisque;
  }

  .video__headline {
    margin: 0 107px 41px 107px;

    font-size: 20px;
  }

  .video__description {
    margin: 0 40px 40px 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .video__buy {
    margin: 0 42px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 1050px;
    margin-bottom: 105px;
  }

  .video__wrapper {
    position: relative;
    padding: 100px 57px 44px 762px;
  }

  .video__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    //
    width: 682px;
    height: 455px;
    //
  }

  .video__headline {
    width: 150px;
    margin: 0 0 42px 0;
  }

  .video__description {
    margin: 0 0 51px 0;
  }

  .video__buy {
    margin: 0;
  }
}
