.video {
  line-height: 24px;
  font-weight: 700;
  color: $charcoal-color;
}

.video__headline {
  color: #000000;
}

.video__description {
  font-size: 13px;
  font-weight: 500;
}

.video__buy {
  line-height: 16px;
}
