.week-product__wrapper {
  margin-bottom: 70px;

  font-size: 15px;
  line-height: 20px;
  color: #444444;
}

.week-product__headline {
  margin: 0 0 5px 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.week-product__label {
  margin: 0 0 23px 0;

  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $downy-color;
}

.week-product__description {
  margin: 0 12px 24px 0;

  line-height: 24px;
}

.week-product__list {
  margin: 0 0 35px 0;
}

.week-product__list-line {
  position: relative;
  display: flex;
  margin: 0 0 18px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";

    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 1px;

    background-color: #ececec;
  }
}

.week-product__key {
  display: block;
  width: 68px;
  margin: 0 25px 0 0;
}

.week-product__value {
  padding: 0;
}

.week-product__image {
  margin: 0 auto 20px auto;
}

.week-product__price {
  margin: 0 0 25px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.week-product__buy {
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .week-product {
    position: relative;
    margin-bottom: 119px;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      bottom: -68px;
      height: 15px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-position: 13px 0;
      background-size: 771px 15px;
    }
  }

  .week-product__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .week-product__headline {
    width: 430px;
    margin: 0 0 49px 0;

    font-size: 43px;
    line-height: 50px;
  }

  .week-product__label {
    position: absolute;
    top: 11px;
    right: 28px;
    width: 70px;
    margin: 0;

    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .week-product__description {
    width: 282px;
    margin-bottom: 44px;

    font-size: 17px;
    line-height: 30px;
  }

  .week-product__list {
    width: 291px;
    margin-bottom: 61px;
  }

  .week-product__price {
    width: 144px;
    margin-bottom: 34px;
    margin-left: 72px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .week-product__buy {
    width: 90px;
    margin: 0;
    padding: 14px 98px;
  }

  .week-product__image {
    position: absolute;
    z-index: -1;
    top: 107px;
    right: 2px;
    width: 333px;
    height: 404px;
    margin: 0;
  }
}


@media (min-width: $desktop-width) {
  .week-product {
    margin-bottom: 160px;

    &::after {
      content: none;
    }
  }

  .week-product__wrapper {
    box-sizing: border-box;
    padding-left: 175px;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      right: 0;
      bottom: -94px;
      height: 23px;

      background-image: url("../img/bg-zigzag-line.svg");
      background-repeat: repeat-x;
      background-position: 27px 0;
      background-size: 1050px 23px;
    }
  }

  .week-product__headline {
    width: 515px;
    margin: 0 0 48px 0;

    font-size: 53px;
    line-height: 57px;
  }

  .week-product__label {
    top: 14px;
    left: 47px;
  }

  .week-product__description {
    margin: 0 0 54px 0;
  }

  .week-product__list {
    margin: 0 0 118px 0;
  }

  .week-product__price {
    margin: 0 0 34px 72px;
  }

  .week-product__buy {
    margin: 0;
  }

  .week-product__image {
    top: -54px;
    right: 0;
    width: 525px;
    height: 636px;
  }
}
